<footer class="footer bg-dark1 pt-5 pt-md-6">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 mb-5 mb-sm-0">
                <div class="footer-text-holder">
                    <h3 class="h2">For questions <br> and suggestions</h3>
                    <ul>
                        <li>
                            <a class="d-flex align-items-center mb-4" href="mailto:email@shelter.com">
                                <span class="icon-envelope"></span>
                                <span class="text-inf">email@shelter.com</span>
                            </a>
                        </li>
                        <li>
                            <a class="d-flex align-items-center" href="tel:+136745677554">
                                <span class="icon-telephone"></span>
                                <span class="text-inf">+13 674 567 75 54</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <div class="footer-text-holder">
                    <h3 class="h2">We are waiting <br> for your visit</h3>
                    <ul>
                        <li class="d-flex align-items-center mb-3">
                            <span class="icon-pin"></span>
                            <span class="text-inf">Boston, Central Street, 1st
                                (Entrance from the store)</span>
                        </li>
                        <li class="d-flex align-items-center">
                            <span class="icon-pin"></span>
                            <span class="text-inf">London, South Park, 18st</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-4 d-flex justify-content-center justify-content-lg-end align-self-end pt-3">
                <div class="footer-img-holder">
                    <img src="img/img-7.png" alt="description">
                </div>
            </div>
        </div>
    </div>
</footer>