<header class="header">
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark px-0">
            <strong class="mr-md-6">
                <a href="#"><img src="img/logo.png" alt="description"></a>
            </strong>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
                aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarsExample04">
                <ul class="navbar-nav flex-wrap justify-content-md-end">
                    <li class="nav-item">
                        <a class="nav-link" href="#">About the shelter</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Our pets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">To help the shelter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contacts</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>