// Typography

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.h {
    font-family: $font-family-serif;
    line-height: 1.35;
}

h1,
.h1 {
    padding: 0;
    letter-spacing: rem-calc(3px);

    @include media-breakpoint-up(lg) {
        font-size: $font-size-base * 2.75;
    }
}

h2,
.h2 {
    letter-spacing: rem-calc(2px);
    line-height: 1.3;
    margin-bottom: rem-calc(20px);

    @include media-breakpoint-up(lg) {
        padding: 0;
        font-size: $font-size-base * 2.1875;
        margin-bottom: rem-calc(30px);
    }
}

h3,
.h3 {
    @include media-breakpoint-up(md) {
        font-size: $font-size-base * 1.875;
    }
}

p {
    margin-bottom: rem-calc(12px);
    line-height: 1.6;
    word-spacing: rem-calc(-1px);

    @include media-breakpoint-up(md) {
        margin-bottom: rem-calc(23px);
    }
}